{% extends 'parent.html' %}
{% block body_content %}
		<h1><center>ABOUT US</center></h1>
		<p><pre>
Hello there !! Thank you for visiting UBlog.com.
We put U ahead of the blog. It is Your Personal blog. A platform which gives you medium to express yourself without any restriction on topics or content.
And 'Yes' it is yours so it is 100% personal and secure.

<!-- blogCount is passed by the parent .py and it is accessed using JINJA2 template engine in this template.-->
Please join the community of {{ blogCount }} authors !

Hope you enjoy blogging yourself on UBlog.

Happy Blogging !!
			</pre>
		</p>
{% endblock body_content %}

